spotify_credentials.json
.cache
.vercel
.space
.env
env_vars.py
__pycache__
.pyc
server/__pycache__/api.cpython-310.pyc
.email
.oauth
.pytest_cache
__pycache__/env_vars.cpython-310.pyc
.vscode
.vscode/settings.json
.tox
.DS_Store
dist
.vscode
.pylintrc
.DS_Store
*.sql
